.item {
    background-color: rosybrown;
    height: 60px;
    display: inline;
    margin: 10px 20px 10px 0px;
}

thead {
    /* display: none; */
}

.delete {
    text-decoration: line-through;
    color: red;
}

.input {
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
}