@media screen and (max-width: 800px) {

    .layui-side,
    .layui-header {
        width: 150px;
        display: none;
    }

    .layui-body {
        left: 10px;
        right: -1;
    }

    .layui-input-inline {
        display: inline-block !important;
        float: left !important;
        width: 80% !important;
        margin: 0px !important;
    }

    .layui-form-mid {
        margin: 0px !important;
        margin-left: 2px !important;
        padding: 0px 0 !important;
    }

    .layui-main {
        width: auto !important;
    }

    #showNav{
        display: inline !important;
    }

}

.item {
    background-color: rosybrown;
    height: 60px;
    display: inline;
    margin: 10px 20px 10px 0px;
}

thead {
    display: none;
}

.delete {
    text-decoration: line-through;
    color: red;
}

.input {
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80%;
}
